.S1 {
  text-align: center;
}

span {
  color: black;
  font-family: fantasy;
  font-size: 50px;
}

.clockStyle {
  background-color: rgba(36, 78, 227, 0.76);
  margin-top: 5rem;
}

.stopWatchStyle {
  margin-top: 5rem;
}

.alarmStyle {
  margin-top: 5rem;
}

h1 {
  background-color: rgba(36, 78, 227, 0.76);
  color: black;
  font-family: fantasy;
  font-size: 50px;
}
